@import url("fonts.css");

* {
	padding:0;
	margin:0;
	font-family:"Poppins";
}

ul, li {
	list-style-type: none;
}

a, a:hover, a:active, a:visited
{
	color:inherit;
	text-decoration:none;
}

h1,h2,h3,h4,h5,h6,.title {
	font-family:"Nunito";
}

html
{
	font-size:62.5%;
	overflow-y:auto;
	overflow-y:overlay;
	scroll-behavior:smooth;
}

body {
	font-size:1.6rem;
}

header#main-header {
	display:flex;
	position:fixed;
	justify-content:space-between;
	align-items:center;
	box-sizing:border-box;
	padding:1.5rem;
	height:10rem;
	width:100%;
	background-color:#F3F1FF;
	filter: drop-shadow(-20px -20px 60px #FFF) drop-shadow(0px 4px 18px #A5A6F6);
}

header a.title {
	font-size:40px;
	color:black;
	text-decoration:none;
}

header nav#nav-profile {
	position:fixed;
	display:flex;
	justify-content:center;
	align-items: center;
	top:-100vh;
	left:0;
	font-size:3.2rem;
	width:100vw;
	height:100vh;
	background-color:rgba(255, 255, 255, 0.9);
	backdrop-filter:blur(20px);
	transition:top 0.2s ease-in-out;
}

#container-icon-profile {
}

#background-icon-profile {
	display:flex;
	align-items:center;
	justify-content:center;
	width:6.2rem;
	height:6.2rem;
	border-radius:9rem;
	background-color:#4245F5;
	box-shadow: -5px -5px 10px 0px #FFF, 5px 5px 11px -3px #A5A6F6;
}

#header-profile-name {
	position:absolute;
	top:0;
	left:1.5rem;
	margin-top:2.5rem;
}

#label-show-menu {
	display:block;
	position: relative;
	z-index:100;
}

#show-menu:checked ~ #nav-profile {
	top:0;
}

.show-input {
	display:none;
}