@import url("fonts.css");

* {
	padding:0;
	margin:0;
	font-family:"Poppins";
}

ul, li {
	list-style-type: none;
}

a, a:hover, a:active, a:visited
{
	color:#4245F5;
	text-decoration:none;
}

h1,h2,h3,h4,h5,h6,.title {
	font-family:"Nunito";
}

h1 {
	font-size:4rem;
	font-weight:900;
	color:#4245F5;
}

.card h1, .card h2 {
	font-size:4rem;
	font-weight:900;
	color:#4245F5;
}

h2 {
	font-size:3.2rem;
	font-weight:400;
}

h3 {
	font-size:2.4rem;
	font-weight:600;
}

html
{
	font-size:62.5%;
	overflow-y:auto;
	overflow-y:overlay;
	scroll-behavior:smooth;
}

body {
	font-size:1.6rem;
	background-color:#F3F1FF;
}

main {
	padding-top:12rem;
}

header#main-header {
	display:flex;
	position:fixed;
	justify-content:space-between;
	align-items:center;
	box-sizing:border-box;
	padding:1.5rem;
	height:10rem;
	width:100%;
	background-color:#F3F1FF;
	filter: drop-shadow(-20px -20px 60px #FFF) drop-shadow(0px 4px 18px #A5A6F6);
}

header a.title {
	font-size:40px;
	color:black;
	text-decoration:none;
}

header nav#nav-profile {
	position:fixed;
	display:flex;
	justify-content:center;
	align-items: center;
	top:-100vh;
	left:0;
	font-size:3.2rem;
	width:100vw;
	height:100vh;
	background-color:rgba(255, 255, 255, 0.9);
	backdrop-filter:blur(20px);
	transition:top 0.2s ease-in-out;
}

#background-icon-profile, .background-image-profile {
	display:flex;
	align-items:center;
	justify-content:center;
	width:6.2rem;
	height:6.2rem;
	border-radius:9rem;
	background-color:#4245F5;
	box-shadow: -5px -5px 10px 0px #FFF, 5px 5px 11px -3px #A5A6F6;
}

.background-image-profile {
	width:18rem;
	height:18rem;
}

.background-image-profile img {
	width:17rem;
}

#header-profile-name {
	position:absolute;
	top:0;
	left:1.5rem;
	margin-top:2.5rem;
}

#label-show-menu {
	display:block;
	position: relative;
	z-index:100;
}

#show-menu:checked ~ #nav-profile {
	top:0;
}

.show-input {
	display:none;
}

.card {
	display:flex;
	margin:2rem;
	padding:1rem;
	padding-right: 0px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	border-radius: 20px;
	background: var(--all-colors-project-claire, #F3F1FF);
	box-shadow: -5px -5px 10px 0px #FFF, 5px 5px 10px 0px #A5A6F6;
}

section#login-section form {
	display:flex;
	flex-direction: column;
}

label {
	font-weight:600;
}

form {
	width:100%;
}

#form-login {
	margin:5rem 0;
}

input {
	box-shadow: 0px 14px 21px 0px rgba(165, 166, 246, 0.20);
	border-radius: 10px;
	background: #FAF9FF;
	border:none;
	margin:0 2rem 1rem 1rem;
	padding:0.5rem 2rem;
	outline:none;
}

input:focus {
	border:2px solid #4245F5;
}

form input[type="submit"] {
	margin:auto;
	margin-top:2rem;
}

input[type="submit"], button {
	border-radius:1rem;
	font-weight:bold;
	background:#4245F5;
	transition:background 0.2s;
	color:white;
	border:none;
	box-shadow: -5px -5px 10px 0px #FFF, 5px 5px 11px -3px #A5A6F6;
	width:auto;
	margin:0 2rem 1rem 1rem;
	padding:0.5rem 2rem;
	outline:none;
}

input[type="submit"]:hover, button:hover {
	background: white;
	color:black;
	box-shadow: -5px -5px 10px 0px #FFF, 5px 5px 10px 0px #B1B3BF;
	transition:background 0.2s;

}

input[type="submit"]:active, button:active {
	background: linear-gradient(109deg, #D7D4ED 0%, #FFFDFF 139.37%);
	box-shadow: -5px -5px 10px 0px #FFF, 5px 5px 10px 0px #B1B3BF;
}

.flex-row {
	display:flex;
	justify-content:space-between;
}

#plan-price {
	display:block;
	padding:1rem 4rem;
	margin:3rem;
	border-radius: 76px;
	background-color: #A5A6F6;
	color:white;
	font-size:4rem;
	text-align:center;
}

p {
	white-space:pre-line;	
	margin:1rem;
}

section#my-drive {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

#my-drive #dashboard {
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

table {
	border-collapse:collapse;
}

tr {
	border-bottom:1px solid #A5A6F6;
}

td {
	padding:0.5rem;
}

button#add-file {
	padding:1rem 3rem;
}

@media all and (min-width:1024px) {
	main {
		display:flex;
		justify-content:center;
	}
	section {
		width:50%;
	}

	section h1, section h2 {
		text-align:center;
	}

	section#my-drive {
		flex-direction:row;
		width:100%;
		justify-content:space-between;
		align-items:normal;
	}

	#my-drive #dashboard {
		width:30%;
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		border-right:3px solid #A5A6F6;
	}

	#my-drive #table {
		margin:0 3rem;
		width:70%;
	}
	
	#my-drive #table table {
		width:100%;
	}
}