<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="App description">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
		<title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
	</head>
	<body>
{{ include('components/header.html.twig') }}
		<main>
        {% block body %}{% endblock %}
		</main>
        {% block javascripts %}{% endblock %}
    </body>
</html>