{# templates/login.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Mon titre{% endblock %}

{% block body %}

<section class="card" id="login-section">
	<h1>Connexion</h1>
	<form>
		<label for="email">Adresse</label>
		<input type="text" id="email" name="email">
		<label for="password">Mot de passe</label>
		<input type="password" id="password" name="password">
		<a href="#">Mot de passe oublié ?</a>
		<input type="submit" value="Se connecter">
		<span>Pas de compte ? <a href="#">S'inscrire</a></span>
	</form>
</section>

{% endblock %}