{# templates/subscribe.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<section class="card" id="login-section">
	<h1>Green Plan</h1>
	<span id="plan-price">19.99€</span>
	<p>En optant pour le "Green Plan", vous bénéficiez d'un espace de stockage sécurisé et fiable de 20 Go pour vos fichiers, tout en contribuant à la préservation de l'environnement.
	
	Ce service repose sur l'utilisation de centres de données écologiques, qui sont conçus pour minimiser la consommation d'énergie et les émissions de gaz à effet de serre.
	</p>
	<button>Commencer</button>
</section>

{% endblock %}