
{% extends 'base.html.twig' %}

{% block body %}
    <section class="card">
            <h1 class="display-4">Paiement Réussi !</h1>
            <p>Merci pour votre achat. Votre paiement a été traité avec succès.</p>
        <div class="text-center mt-3">
            <a class="button" href="{{ path('account') }}">Mon Compte</a>
        </div>
    </section>
{% endblock %}
