{# templates/components/header.html.twig #}
	<header id="main-header">
		<a href="index.php">MyDrive</a>
		<img id="icon-profile" alt="Photo de profil de l'utilisateur">
		<span>John Doe</span>
			<nav id="nav-profile">
				<ul>
					<li>
						<a href="account.php">Mon compte</a>
					</li>
					<li>
						<a href="logout.php">Déconnexion</a>
					</li>
				</ul>
			</nav>
	</header>